#modalmember.modal.fade(tabindex='-1' aria-labelledby='modalLabel' aria-hidden='true')
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        h2#modalLabel.modal-title.fs-5 Crear Miembro
        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
      .modal-body
        form(action='/members' method='post' autocomplete="off").row.g-3
          .col-md-6
            .form-floating
              input#names.form-control(type='text' name='names' placeholder='Names' autocomplete='off' required)
              label(for='names') Nombres
          .col-md-6
            .form-floating
              input#firstlastname.form-control(type='text' name='firstlastname' placeholder='First Last Name' required)
              label(for='firstlastname') Primer Apellido
          .col-md-6
            .form-floating
              input#secondlastname.form-control(type='text' name='secondlastname' placeholder='Second Last Name')
              label(for='secondlastname') Segundo Apellido

          .col-md-6
            .form-floating
              select#gender.form-select(name='gender' aria-label='Gender' required)
                option(selected='' value='') Selecciona Genero
                option(value='Femenino') Femenino
                option(value='Masculino') Masculino
              label(for='gender') Genero

          .col-md-6
            .form-floating
              select#church.form-select(name='church' aria-label='Church' required)
                option(selected='' value='') Sin iglesia
                each church in churches
                  option(value=`${church._id}`) #{church.church}
              label(for='gender') Iglesia

          .col-12
            button#submit.btn.btn-primary( type='submit') Guardar




