.modal.fade(id=`imageMemberModal-${member.code}` tabindex='-1' aria-labelledby='imageMemberModalLabel' aria-hidden='true')
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        h1#imageMemberModalLabel.modal-title.fs-5
          |#{member.names.split(' ')[0][0].toUpperCase()}#{member.names.split(' ')[0].substring(1)}
          |#{member.firstlastname[0].toUpperCase()}#{member.firstlastname.substring(1)}
          |#{member.secondlastname[0].toUpperCase()}#{member.secondlastname.substring(1)}
        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
      .modal-body
        img.img-fluid(src=`/images/member/${member.images.image}` alt='Image')
