extends ../layouts/layout.pug

block content
  .container
    h1.text-white.mb-2
      a.text-white.align-middle.text-decoration-none(href='/members') Miembros

    .table-responsive-member
      button#memberscreate.btn.btn-white.text-dark.fw-bold(type='button' data-bs-toggle='modal' data-bs-target='#modalmember')
        i.bi.bi-person-plus-fill( data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Crear Nuevo Miembro") #{' '}
        | Miembro

      a#memberspdf.btn.btn-white.text-dark.fw-bold(type='button' href='/members/pdf' target="_blank")
        i.bi.bi-filetype-pdf #{' '}
        | PDF

      a#memberspdf.btn.btn-white.text-dark.fw-bold(type='button' href='/members/xlsx' target="_blank")
        i.bi.bi-file-excel #{' '}
        | Excel
      br
      input#searchinput(placeholder='Nombres' value=`${search}`)
      a#search(type='button')
        i.bi.bi-search

      .table-responsive
        table.table.table-hover.table-bordered.table-sm
          thead
            tr
              th(scope='col') #
              th(scope='col') Miembros
              th(scope='col') Grado
              th(scope='col') Cargo
              th(scope='col') Iglesia
              th(scope='col') Distrito
              th(scope='col') Membresia
              th(scope='col') Numero Dias
              th(scope='col')
          tbody
            - c = (numeropagination * 10) - 10
            each member, i in members
              tr
                td.text-center #{c=c+1}
                td.align-top.text-capitalize(data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title=`${member.names.toUpperCase()}`)
                  a.text-dark.align-middle.text-decoration-none(href=`/member/${member.code}`)
                    | #{member.names} #{member.firstlastname} #{member.secondlastname}
                td.align-top #{member.secondlastname}
                td.align-top #{member.secondlastname}
                td.align-top #{member.secondlastname}
                td.align-top #{member.secondlastname}
                td.align-top #{member.secondlastname}
                td.align-top #{member.secondlastname}
                td.text-center
                  a(
                    href=`/member/${member.code}`
                    data-bs-toggle="tooltip"
                    data-bs-placement="top"
                    data-bs-title=`Ver Miembro - ${member.names[0].toUpperCase()}${member.names.substring(1)}`
                  ).
                    #[i.bi.bi-person-fill]

      nav(aria-label='Page navigation members')
        ul.pagination.flex-wrap.pagination-sm
          if numeropagination > 1
            li.page-item
              a.page-link(href=`/members/${numeropagination-1}` aria-label='Previous')
                span(aria-hidden='true')
                  i.bi.bi-chevron-left(style="color: #000;")
          else
            li.page-item.disabled
              a.page-link(href='#' aria-label='Previous')
                span(aria-hidden='true')
                  i.bi.bi-chevron-left(style="color: rgba(0, 0, 0, 0.5);")

          - var n = 1;
          while n <= totalpagination
            if numeropagination == n
              li.page-item.active
                a.page-link.text-white(href=`/members/${n}`)=n
            else
              li.page-item
                a.page-link.text-dark(href=`/members/${n}`)=n
            - n++

          if numeropagination < totalpagination
            li.page-item
              a.page-link(href=`/members/${numeropagination+1}` aria-label='Next')
                span(aria-hidden='true')
                  i.bi.bi-chevron-right(style="color: #000;")
          else
            li.page-item.disabled
              a.page-link(href='#' aria-label='Next')
                span(aria-hidden='true')
                  i.bi.bi-chevron-right(style="color: rgba(0, 0, 0, 0.5);")
      p Total: #{totalmember}

  include memberscreate.pug
  include ../includes/script.pug
  script(src='/lib/datatables/datatables.min.js')
  script(src='/app/members/members.js')
