extends ../layouts/layout.pug

block content
  .container
    h1.text-white Informes

    .table-responsive-member
      button#memberscreate.btn.btn-white.text-dark.fw-bold(type='button' data-bs-toggle='modal' data-bs-target='#modalmember')
        i.bi.bi-plus( data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Crear Nuevo Miembro") #{' '}
        | Informe

      a#memberspdf.btn.btn-white.text-dark.fw-bold(type='button' href='/reports/pdf' target="_blank")
        i.bi.bi-filetype-pdf #{' '}
        | PDF

      a#memberspdf.btn.btn-white.text-dark.fw-bold(type='button' href='/reports/xlsx' target="_blank")
        i.bi.bi-file-excel #{' '}
        | Excel

  include ../includes/script.pug
