extends ../layouts/layout.pug

block content
  .container
    h1.text-white.mb-2 Departamento

    include ../includes/menuddc.pug

    .district-content-bottom
      .table-responsive-district
        button#departmentcreate.btn.btn-white.text-dark.fw-bold(type='button' data-bs-toggle='modal' data-bs-target='#departmentModal')
          i.bi.bi-plus-lg(style='font-size: 1rem;' data-bs-toggle='tooltip' data-bs-placement='top' data-bs-title='Crear Nuevo Departamento')
          | Departamento

        .table-responsive
          table#table2.cell-border.compact.hover.order-column
            thead
              tr
                th(scope='col') #
                th(scope='col') Departamento
                th(scope='col') Abreviatura
                th(scope='col') Pais
                th(scope='col')
            tbody.table-group-divider
              each member, i in departments
                tr
                  td #{i+1}
                  td.text-capitalize #{member.department}
                  td.text-uppercase #{member.abbreviation}
                  td.text-capitalize #{member.country.country}
                  td
                    a(href='#' data-bs-toggle='tooltip' data-bs-placement='top' data-bs-title='Editar Miembro')
                      i.bi.bi-pencil-fill
                    a(href='#')
                      i.bi.bi-trash3-fill

  include departmentcreate.pug
  include ../includes/script.pug
  script(src='/lib/datatables/datatables.min.js')
  script(src='/app/district/district.js')
