#departmentModal.modal.fade(tabindex='-1' aria-labelledby='departmentModalLabel' aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        h1#departmentModalLabel.modal-title.fs-5 Crear Departamento
        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
      .modal-body
        form#formdepartment.row.g-3(action='/department' method='post')
          .col-12
            input#department.form-control(type='text' name='department' placeholder='Departamento' required autocomplete='off')
          .col-12
            input#abbreviation.form-control(type='text' name='abbreviation' placeholder='Abreviatura' required autocomplete='off')
          .col-12
            select#country.form-select(name='country' aria-label='' required)
              option(value='' selected) Selecciona un país
              each country, i in countries
                option(value=`${country._id}`) #{country.country[0].toUpperCase()}#{country.country.substring(1)}
          .col-12
            button#submit.btn.btn-primary(type='submit') Guardar
