$Blue900Primary: #0d47a1;
$Blue900Light: #5472d3;
$Blue900Dark: #002171;
$Red900Primary: #b71c1c;

$primary: $Blue900Primary;

$bootstrap-icons-font-dir: "../fonts" !default;

@import "../bootstrap/scss/bootstrap";
@import "../bootstrap/bootstrap-icons.scss";

body {
  background: linear-gradient(
      0deg,
      rgba($Red900Primary, 0.7),
      rgba($Blue900Primary, 0.7)
    ),
    url("../images/app/20221124195048971497.png");
  background-position: left center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

$BlueRed: linear-gradient(
  0deg,
  rgba($Red900Primary, 1),
  rgba($Blue900Primary, 1)
);

// scrollbar
body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
body::-webkit-scrollbar-thumb {
  background: $BlueRed;
  border-radius: 4px;
}
body::-webkit-scrollbar-thumb:hover {
  background: $BlueRed;
  box-shadow: 0 0 2px 1px $BlueRed;
}
body::-webkit-scrollbar-thumb:active {
  background-color: $BlueRed;
}
body::-webkit-scrollbar-track {
  background: $BlueRed;
  border-radius: 0px;
}
body::-webkit-scrollbar-track:hover,
body::-webkit-scrollbar-track:active {
  background: $BlueRed;
}

// animate
.animate__animated.animate__fadeIn {
  --animate-duration: 1.9s;
}

// animate
.animate__animated.animate__fadeIn {
  --animate-duration: 1.9s;
}

// member
.member-content-top {
  background-color: #ffffff;
  padding: 1rem 1rem 1rem 1rem;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.member-content-bottom {
  background-color: #ffffff;
  padding: 1rem 1rem 1rem 1rem;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.district-content-top {
  background-color: #ffffff;
  padding: 1rem 1rem 0rem 1rem;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.district-content-bottom {
  background-color: #ffffff;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.table-responsive-member {
  background-color: #ffffff;
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 3px;
}
.table-responsive-church {
  background-color: #ffffff;
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 3px;
}

.table-responsive-district {
  background-color: #ffffff;
  padding: 0rem 1rem 1rem 1rem;
  border-radius: 3px;
}

.container-white {
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 3px;
}

#map {
  height: 360px;
}

#memberlist {
  position: absolute;
  z-index: 1;
}
