link(rel='icon' type='image/png' href='/images/app/iebs.png')
link(rel='stylesheet' href='/lib/datatables/datatables.min.css')
link(rel='stylesheet' href='/lib/leaflet/leaflet.css')
link(rel='stylesheet' href='/lib/videojs/video-js.css')
//- link(rel='stylesheet' href='/lib/swiper/swiper-bundle.min.css')
link(rel='stylesheet' href='/lib/animate/animate.min.css')
//- link(rel='stylesheet' href='/lib/select2/css/select2.min.css')
link(rel='stylesheet' href='/css/custom.css')
//- link(rel='stylesheet' href='/lib/autocomplete/css/autoComplete.css')

