.district-content-top.mt-2
  ul.nav.nav-tabs
    li.nav-item
      a.nav-link(class=menu=='district'?'active':'' aria-current='page' href='/district') Distrito
    li.nav-item
      a.nav-link(class=menu=='department'?'active':'' aria-current='page' href='/department') Departamento
    li.nav-item
      a.nav-link(class=menu=='country'?'active':'' aria-current='page' href='/country') Pais
