nav.navbar.sticky-top.navbar-expand-md.navbar-dark.bg-primary.d-none.d-sm-block
  .container-fluid
    a.navbar-brand(href='/')
      img(src='/images/app/iebs.png', alt='IEBS', width='25', height='25')
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.me-auto
        li.nav-item(class=session ? 'd-none' : '')
          a.nav-link(class=['main'].includes(active) ? 'active fw-bold' : '' href='/') Inicio
        li.nav-item(class=session ? 'd-none' : '')
          a.nav-link(class=['activities'].includes(active) ? 'active fw-bold' : '' href='/activities') Actividades
        li.nav-item(class=session ? 'd-none' : '')
          a.nav-link(class=['nosotros'].includes(active) ? 'active fw-bold' : '' href='/nosotros') Nosotros
        li.nav-item(class=session ? 'd-none' : '')
          a.nav-link(class=['contact'].includes(active) ? 'active fw-bold' : '' href='/contact') Contacto

        li.nav-item.dropdown(class=!session ? 'd-none' : '')
          a.nav-link.dropdown-toggle(class=['main', 'nosotros', 'contact'].includes(active) ? 'active fw-bold' : '' href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
            | Inicio
          ul.dropdown-menu
            li
              a.dropdown-item(class=['main'].includes(active) ? 'fw-bold' : '' href='/') Inicio
            li
              a.dropdown-item(class=['activities'].includes(active) ? 'fw-bold' : '' href='/activities') Actividades
            li
              a.dropdown-item(class=['nosotros'].includes(active) ? 'fw-bold' : '' href='/nosotros') Nosotros
            li
              a.dropdown-item(class=['contact'].includes(active) ? 'fw-bold' : '' href='/contact') Contacto

        li.nav-item.dropdown(class=!session ? 'd-none' : '')
          a.nav-link.dropdown-toggle(class=['members','member','churches','district', 'national'].includes(active) ? 'active fw-bold' : '' href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
            | Iglesia
          ul.dropdown-menu
            li
              a.dropdown-item(class=['members','member'].includes(active) ? 'fw-bold' : '' href='/members') Miembros
            li
              a.dropdown-item(class=['churches'].includes(active) ? 'fw-bold' : '' href='/churches') Iglesia
            li
              a.dropdown-item(class=['district'].includes(active) ? 'fw-bold' : '' href='/district' data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Distritos, Departamentos, Paises") Distritos
            li
              a.dropdown-item(class=['national'].includes(active) ? 'fw-bold' : '' href='/national') Nacional

        li.nav-item.dropdown(class=!session ? 'd-none' : '')
          a.nav-link.dropdown-toggle(class=['reports'].includes(active) ? 'active fw-bold' : '' href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
            | Informes
          ul.dropdown-menu
            li
              a.dropdown-item(class=['reports'].includes(active) ? 'fw-bold' : '' href='/reports') Informes
            li
              a.dropdown-item(class=['reports'].includes(active) ? 'fw-bold' : '' href='/') Informes Actividades

        li.nav-item.dropdown(class=!session ? 'd-none' : '')
          a.nav-link.dropdown-toggle(class=['income','expense'].includes(active) ? 'active fw-bold' : '' href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
            | FONAMIN
          ul.dropdown-menu
            li
              a.dropdown-item(class=['income'].includes(active) ? 'fw-bold' : '' href='/fonamin/income') Ingresos
            li
              a.dropdown-item(class=['expense'].includes(active) ? 'fw-bold' : '' href='/fonamin/expense') Egresos

        li.nav-item.dropdown(class=!session ? 'd-none' : '')
          a.nav-link.dropdown-toggle(class=['information','controlmain','controlactivities','controlnosotros','controlcontact','controlfonamin'].includes(active) ? 'active fw-bold' : '' href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
            | Control
          ul.dropdown-menu
            li
              a.dropdown-item(class=['controlmain','controlactivities','controlnosotros','controlcontact','controlfonamin'].includes(active) ? 'fw-bold' : '' href='/control/main') Control
            li
              a.dropdown-item(class=['information'].includes(active) ? 'fw-bold' : '' href='/information') Información

      ul.navbar-nav.col-auto
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle(class=member ? 'active' : '' href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
            if member
              i.bi-person-fill(data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title=`${member.names} ${member.firstlastname} ${member.secondlastname}`)
              span #{' '}#{member.names.toUpperCase()}#{' '}
            else
              i.bi-person-fill
          ul.dropdown-menu.dropdown-menu-end
            if session
              li
                a.dropdown-item(href=`/member/${member.code}`) Cuenta
              li
                a#logout.dropdown-item(href='/logout') Logout
            else
              li
                a.dropdown-item(href='#' data-bs-toggle='modal' data-bs-target='#staticBackdrop') Login
