nav.navbar.navbar-dark.bg-primary.sticky-top.d-block.d-sm-none
  .container-fluid
    button.navbar-toggler(type='button' data-bs-toggle='offcanvas' data-bs-target='#offcanvasNavbar' aria-controls='offcanvasNavbar')
      span.navbar-toggler-icon

    a.nav-link.dropdown-toggle(style={color: member?'rgba(255,255,255,1)':'rgba(255,255,255,.5)'} href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
      if member
        i.bi-person-fill
        | #{' '}#{member.names}#{' '}
      else
        i.bi-person-fill

    ul.dropdown-menu.dropdown-menu-end.dropdown-menu-white
      if session
        li
          a.dropdown-item(href=`/member/${member.code}`) Cuenta
        li
          a#logout.dropdown-item(href='/logout') Logout
      else
        li
          a.dropdown-item(href='#' data-bs-toggle='modal' data-bs-target='#staticBackdrop') Login

    #offcanvasNavbar.offcanvas.offcanvas-start.text-bg-primary(tabindex='-1' aria-labelledby='offcanvasNavbarLabel')
      .offcanvas-header
        h5#offcanvasNavbarLabel.offcanvas-title
          a(href='/')
            img(src='/images/app/iebs.png', alt='IEBS', width='25', height='25')
          a.text-white.align-middle.text-decoration-none(href='/') #{' IEBS '}
        button.btn-close.btn-close-white(type='button' data-bs-dismiss='offcanvas' aria-label='Close')
      .offcanvas-body.small
        ul.navbar-nav.justify-content-end.flex-grow-1.pe-3
          li.nav-item(class=session ? 'd-none' : '')
            a.nav-link(class=active=='main' ? 'active fw-bold' : '' href='/') Inicio
          li.nav-item(class=session ? 'd-none' : '')
            a.nav-link(class=active=='nosotros' ? 'active fw-bold' : '' href='/nosotros') Nosotros
          li.nav-item(class=session ? 'd-none' : '')
            a.nav-link(class=active=='contact' ? 'active fw-bold' : '' href='/contact') Contacto

          li.nav-item.dropdown(class=!session ? 'd-none' : '')
            a.nav-link.dropdown-toggle(class=active=='main' || active=='nosotros' || active=='contact' ? 'active fw-bold' : '' href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
              | Inicio
            ul.dropdown-menu
              li
                a.dropdown-item(class=active=='main' ? 'fw-bold' : '' href='/') Inicio
              li
                a.dropdown-item(class=active=='nosotros' ? 'fw-bold' : '' href='/nosotros') Nosotros
              li
                a.dropdown-item(class=active=='contact' ? 'fw-bold' : '' href='/contact') Contacto

          li.nav-item.dropdown(class=!session ? 'd-none' : '')
            a.nav-link.dropdown-toggle(class=active=='members' || active=='member' || active=='churches' || active=='district' ? 'active fw-bold' : '' href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
              | Iglesia
            ul.dropdown-menu
              li
                a.dropdown-item(class=active=='members' || active=='member' ? 'fw-bold' : '' href='/members') Miembros
              li
                a.dropdown-item(class=active=='churches' ? 'fw-bold' : '' href='/churches') Iglesia
              li
                a.dropdown-item(class=active=='district' ? 'fw-bold' : '' href='/district' data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Distritos, Departamentos, Paises") Distritos
              li
                a.dropdown-item(class=active==23 ? 'fw-bold' : '' href='/') Departamentos IEBS

          li.nav-item.dropdown(class=!session ? 'd-none' : '')
            a.nav-link.dropdown-toggle(class=active=='memberdad' || active==22 || active==23 ? 'active fw-bold' : '' href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
              | Informes
            ul.dropdown-menu
              li
                a.dropdown-item(class=active==22 ? 'fw-bold' : '' href='/') Informe General
              li
                a.dropdown-item(class=active==22 ? 'fw-bold' : '' href='/') Informe
              li
                a.dropdown-item(class=active==22 ? 'fw-bold' : '' href='/') Informe Actividades

          li.nav-item.dropdown(class=!session ? 'd-none' : '')
            a.nav-link.dropdown-toggle(class=active=='memberdad' || active==22 || active==23 ? 'active fw-bold' : '' href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
              | FONAMIN
            ul.dropdown-menu
              li
                a.dropdown-item(class=active==22 ? 'fw-bold' : '' href='/') Informe FONAMIN

          li.nav-item.dropdown(class=!session ? 'd-none' : '')
            a.nav-link.dropdown-toggle(class=active=='memberdad' || active==22 || active==23 ? 'active fw-bold' : '' href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
              | IEBS Nal
            ul.dropdown-menu
              li
                a.dropdown-item(class=active==22 ? 'fw-bold' : '' href='/') Informe FONAMIN
