doctype html
html(lang='es')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title IEBS Nacional
    include ../includes/link.pug
  body
    include ../login/login.pug
    include ../includes/navbar.pug
    include ../includes/offcanvas.pug
    block content
