#countryModal.modal.fade(tabindex='-1' aria-labelledby='countryModalLabel' aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        h1#countryModalLabel.modal-title.fs-5 Crear País
        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
      .modal-body
        form#formcountry.row.g-3(action='country' method='post')
          .col-12
            input#country.form-control(type='text' name='country' placeholder='Pais' required autocomplete='off')
          .col-12
            button#submit.btn.btn-primary(type='submit') Guardar

