extends ../layouts/layout.pug

block content
  .container
    h1.text-white.mb-2 Pais

    include ../includes/menuddc.pug

    .district-content-bottom
      .table-responsive-district
        button#countrycreate.btn.btn-white.text-dark.fw-bold(type='button' data-bs-toggle='modal' data-bs-target='#countryModal')
          i.bi.bi-plus-lg(style='font-size: 1rem;' data-bs-toggle='tooltip' data-bs-placement='top' data-bs-title='Crear Nuevo Pais')
          | Pais

        .table-responsive
          table#table3.cell-border.compact.hover.order-column
            thead
              tr
                th(scope='col') #
                th(scope='col') Pais
                th(scope='col')
            tbody.table-group-divider
              each country, i in countries
                tr
                  td #{i+1}
                  td.text-capitalize #{country.country}
                  td
                    a.edit(href='#')
                      i.bi.bi-pencil-fill(style='font-size: 1rem;' data-bs-toggle='tooltip' data-bs-placement='top' data-bs-title=`Editar - ${country.country[0].toUpperCase()}${country.country.substring(1)}`)
                    | #{' '}
                    if `${country.state}`=='active'
                      a(href=`/country/${country._id}/inactive`)
                        i.bi.bi-toggle2-on(style='font-size: 1rem; color: #0d47a1;' data-bs-toggle='tooltip' data-bs-placement='top' data-bs-title='Activo')
                    else
                      a(href=`/country/${country._id}/active`)
                        i.bi.bi-toggle2-off(style='font-size: 1rem; color: #b71c1c;' data-bs-toggle='tooltip' data-bs-placement='top' data-bs-title='Inactivo')
                    | #{' '}
                    a(href=`/country/${country._id}/deleted`)
                      i.bi.bi-trash3-fill(style='font-size: 1rem;' data-bs-toggle='tooltip' data-bs-placement='top' data-bs-title=`Eliminar - ${country.country[0].toUpperCase()}${country.country.substring(1)}`)

  include countrycreate.pug
  include ../includes/script.pug
  script(src='/lib/datatables/datatables.min.js')
  script(src='/app/district/district.js')
