extends membertab.pug

block member
  .table-responsive
    if memberaccess.length < access.length
      button#memberaccesscreate.btn.btn-white.text-dark.fw-bold(type='button' data-bs-toggle='modal' data-bs-target='#modalmemberaccesscreate')
        i.bi.bi-plus(data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Crear Nuevo Miembro") #{' '}
        | Acceso

    //- button#membersubaccesscreate.btn.btn-white.text-dark.fw-bold(type='button' data-bs-toggle='modal' data-bs-target='#modalmembersubaccesscreate')
    //-   i.bi.bi-ui-checks(data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Crear Nuevo Miembro") #{' '}
    //-   | Sub Acceso

    if memberaccess.length > 0
      table.table.table-hover.table-bordered.table-sm
        thead
          tr
            th.text-center.align-middle(colspan="1" rowspan="2") #
            th.text-center.align-middle(colspan="2" rowspan="2") Acceso
            th.text-center(colspan="3") Permisos
            th.text-center.align-middle(colspan="1" rowspan="2") Nivel
            th(colspan="1" rowspan="2")
          tr
            th.text-center(scope='col') Crear
            th.text-center(scope='col') Actualizar
            th.text-center(scope='col') Eliminar
        tbody
          each ma, i in memberaccess
            tr
              td.text-center #{ma.access.accessnumber}
              td.align-middle #{ma.access.accessname}
              td.text-center.align-middle
                if ma.state === 'active'
                  a(href=`/member/${memberselect.code}/${ma._id}/active`)
                    i.bi.bi-check-square
                else
                  a(href=`/member/${memberselect.code}/${ma._id}/inactive`)
                    i.bi.bi-x-square
              td.text-center.align-middle
                if ma.permitcreate
                  a(href=`/member/${memberselect.code}/${ma._id}/create`)
                    i.bi.bi-check-lg
                else
                  a(href=`/member/${memberselect.code}/${ma._id}/create`)
                    i.bi.bi-x-lg
              td.text-center.align-middle
                if ma.permitupdate
                  a(href=`/member/${memberselect.code}/${ma._id}/update`)
                    i.bi.bi-check-lg
                else
                  a(href=`/member/${memberselect.code}/${ma._id}/update`)
                    i.bi.bi-x-lg
              td.text-center.align-middle
                if ma.permitdelete
                  a(href=`/member/${memberselect.code}/${ma._id}/delete`)
                    i.bi.bi-check-lg
                else
                  a(href=`/member/${memberselect.code}/${ma._id}/delete`)
                    i.bi.bi-x-lg
              td
                //- select.selectlevel.form-select.wrapper(name='level' aria-label='Level' style="min-width:100px; max-width:100%" required)
                //-   option(selected='' value='') Selecciona Nivel
                //-   each lev in level
                //-     option(selected=ma.level._id.equals(lev._id) ? true : false value=`/member/${memberselect.code}/${ma._id}/${lev._id}`) #{lev.levelnumber}. #{lev.levelname} - #{memberlevelselected.includes(lev.level)}
                .dropdown
                  button.btn.btn-primary.btn-sm.dropdown-toggle(type='button' data-bs-toggle='dropdown' aria-expanded='false' style="width:100%")
                    each lev in level
                      if ma.level._id.equals(lev._id)
                        | #{lev.levelname}
                  ul.dropdown-menu
                    each lev in level
                      li
                        a.dropdown-item(class=ma.level._id.equals(lev._id) ? 'active' : '' href=`/member/${memberselect.code}/${ma._id}/${lev._id}`) #{lev.levelnumber}. #{lev.levelname}

              td.text-center.align-middle
                a(href=`/member/${memberselect.code}/${ma._id}`)
                  i.bi.bi-trash

    if memberaccess.length > 0
      p Total #{memberaccess.length}

  include memberaccesscreate.pug
  include membersubaccesscreate.pug
  script(src='/app/member/memberaccess.js')

