#modalmembersubaccesscreate.modal.fade(tabindex='-1' aria-labelledby='modalmembersubaccess' aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        h2#modalmembersubaccess.modal-title.fs-5 Sub Accesos
        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
      .modal-body
        form.row(action=`/member/${memberselect.code}/subaccess/update` method='post' autocomplete="off")
          each lev, i in access
            .col-12
              .form-check
                input.form-check-input(id=`flexCheck${i+1}` name='idlevel' type='checkbox' value=`${lev._id}`)
                label.form-check-label(for=`flexCheck${i+1}`)
                  | #{lev.accessname}

          button.btn.btn-primary(type='submit') Guardar


          //- .col-md-12
          //-   .d-flex.flex-row
          //-     .form-check.me-3
          //-       input.form-check-input(name='create' type='checkbox' value='true')
          //-       label.form-check-label(for='checkcreate')
          //-         | Crear
          //-     .form-check.me-3
          //-       input.form-check-input(name='update' type='checkbox' value='true')
          //-       label.form-check-label(for='checkupdate')
          //-         | Actualizar
          //-     .form-check.me-3
          //-       input.form-check-input(name='remove' type='checkbox' value='true')
          //-       label.form-check-label(for='checkdelete')
          //-         | Eliminar
          //- .col-12
          //-   button.btn.btn-primary( type='submit') Acceso




