extends membertab.pug

block member
  .container
    h1.text-white Miembro

    p informacion del miembro en la iglesia que pertence, lider cargo, membresia, categoria, iglesia

    h3.text-white.mb-3 Información Iglesia

