extends membertab.pug

block member
  .row
    .col-12.col-sm-6.col-md-4
      if !(memberselect.images.imagename==null)
        img.rounded(class='img-fluid' src=`/images/member/${memberselect.images.imagename}` alt='Member Image')
      else
        img.rounded(class='img-fluid' src=`/images/app/20221129122636493757.png` alt='Member Image')
      //- img.rounded(class='img-fluid' src=`/images/qrcode/${memberselect.imagecode.imagename}` alt='Code Image')
    .col-12.col-sm-6.col-md-8
      form(action=`/member/image/${memberselect.code}` method='post' enctype='multipart/form-data')
        input.form-control.mb-3(type='file' name='image' accept='.png, .jpg, .jpeg' required)
        button.btn.btn-primary(type='submit') Actualizar
  hr
  form(action=`/member/${memberselect.code}`, method='post').row.g-3
    .col-12.col-sm-6.col-md-4
      label.form-label(for='names') Nombres
      input#names.form-control(type='text' name='names' value=memberselect.names===null?'':memberselect.names placeholder='Nombres' required)
    .col-12.col-sm-6.col-md-4
      label.form-label(for='firstlastname') Primer Apellido
      input#firstlastname.form-control(type='text' name='firstlastname' value=memberselect.firstlastname===null?'':memberselect.firstlastname placeholder='Apellido Paterno' required)
    .col-12.col-sm-6.col-md-4
      label.form-label(for='secondlastname') Segundo Apellido
      input#secondlastname.form-control(type='text' name='secondlastname' value=memberselect.secondlastname===null?'':memberselect.secondlastname placeholder='Apellido Materno')
    .col-12.col-sm-6.col-md-4
      label.form-label(for='gender') Genero
      select#gender.form-select(aria-label='Gender' name='gender')
        option(selected=memberselect.gender===null ? true : false value='') Selecciona un genero
        option(selected=memberselect.gender==='femenino' ? true : false value='femenino') Femenino
        option(selected=memberselect.gender==='masculino' ? true : false value='masculino') Masculino
    .col-12.col-sm-6.col-md-4
      label.form-label(for='identitynumber') Cedula Identidad
      input#identitynumber.form-control(type='text' name='identitynumber' value=memberselect.identitynumber===null?'':memberselect.identitynumber placeholder='CI')
    .col-12.col-sm-6.col-md-4
      label.form-label(for='email') Email
      input#email.form-control(type='text' name='email' value=memberselect.email===null?'':memberselect.email placeholder='micorreo@gmail.com')
    .col-12.col-sm-6.col-md-4
      label.form-label(for='cellular') Celular
      input#cellular.form-control(type='text' name='cellular' value=memberselect.cellular===null?'':memberselect.cellular placeholder='719.....')
    .col-12.col-sm-6.col-md-4
      label.form-label(for='birthdate') Fecha Nacimiento
      input#birthdate.form-control(type='date' name='birthdate' value=memberselect.birthdate===null?'':memberselect.birthdate placeholder='Date')
    .col-12.col-sm-6.col-md-4
      label.form-label(for='department') Departamento
      select#department.form-select(aria-label='department' name='department')
        if memberselect.department===null
          option(value='' selected) Selecciona un Departamento
          each department in departments
            option(value=`${department._id}`) #{department.department}
        else
          option(value='') Selecciona un Departamento
            each department in departments
              option(value=`${department._id}` selected=memberselect.department.valueOf()===department._id.valueOf() ? true : false) #{department.department}
    .col-12.col-sm-6.col-md-4
      label.form-label(for='country') País
      select#country.form-select(aria-label='country' name='country')
        if memberselect.country===null
          option(value='' selected) Selecciona un País
          each country in countries
            option(value=`${country._id}`) #{country.country}
        else
          option(value='') Selecciona un País
            each country in countries
              option(value=`${country._id}` selected=memberselect.country.valueOf()===country._id.valueOf() ? true : false) #{country.country}

    .col-12
      button.btn.btn-primary(type='submit') Actualizar

  hr

  h2 Vivienda

  include memberpersonalupdate.pug
  script(src='/app/member/memberpersonal.js')
