#modalmemberaccesscreate.modal.fade(tabindex='-1' aria-labelledby='modalmemberaccess' aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        h2#modalmemberaccess.modal-title.fs-5 Accesos
        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
      .modal-body
        form(action=`/member/${memberselect.code}/access` method='post' autocomplete="off").row.g-3
          .col-md-12
            select.form-select(name='access' size=4 required)
              option(selected='') Selecciona un acceso
              each acc in access
                if !memberaccesssel.includes(acc.accessnumber)
                  option(value=`${acc._id}`) #{acc.accessnumber}. #{acc.accessname}

          .col-md-12
            .d-flex.flex-row
              .form-check.me-3
                input#checkcreate.form-check-input(name='create' type='checkbox' value='true')
                label.form-check-label(for='checkcreate')
                  | Crear
              .form-check.me-3
                input#checkupdate.form-check-input(name='update' type='checkbox' value='true')
                label.form-check-label(for='checkupdate')
                  | Actualizar
              .form-check.me-3
                input#checkdelete.form-check-input(name='remove' type='checkbox' value='true')
                label.form-check-label(for='checkdelete')
                  | Eliminar
          .col-12
            button#submit.btn.btn-primary( type='submit') Acceso




