extends ../layouts/layout.pug

block content
  .container
    h1.text-white.text-capitalize #{memberselect.names} #{memberselect.firstlastname} #{memberselect.secondlastname}

    .member-content-top.member-content-bottom
      div.d-none.d-sm-none.d-md-none.d-lg-block.mb-3
        ul.nav.nav-tabs
          li.nav-item
            a.nav-link(class=tab=='member'?'active fw-bold text-primary':'' aria-current='page' href=`/member/${memberselect.code}`) Personal
          li.nav-item
            a.nav-link(class=tab=='church'?'active fw-bold text-primary':'' aria-current='page' href=`/member/${memberselect.code}/church`) Iglesia
          li.nav-item
            a.nav-link(class=tab=='documents'?'active fw-bold text-primary':'' aria-current='page' href=`/member/${memberselect.code}/documents`) Documentos
          li.nav-item
            a.nav-link(class=tab=='credential'?'active fw-bold text-primary':'' aria-current='page' href=`/member/${memberselect.code}/credential`) Credencial
          li.nav-item
            a.nav-link(class=tab=='access'?'active fw-bold text-primary':'' aria-current='page' href=`/member/${memberselect.code}/access`) Accesos
            li.nav-item
              a.nav-link(class=tab=='history'?'active fw-bold text-primary':'' aria-current='page' href='#') Historial

      div.d-block.d-sm-block.d-md-block.d-lg-none.mb-3
        ul.nav.nav-pills.nav-fill
          li.nav-item
            a.nav-link(class=tab=='member'?'active fw-bold':'' aria-current='page' href=`/member/${memberselect.code}`) Personal
          li.nav-item
            a.nav-link(class=tab=='church'?'active fw-bold':'' aria-current='page' href=`/member/${memberselect.code}/church`) Iglesia
          li.nav-item
            a.nav-link(class=tab=='documents'?'active fw-bold':'' aria-current='page' href=`/member/${memberselect.code}/documents`) Documentos
          li.nav-item
            a.nav-link(class=tab=='credential'?'active fw-bold':'' aria-current='page' href=`/member/${memberselect.code}/credential`) Credencial
          li.nav-item
            a.nav-link(class=tab=='access'?'active fw-bold':'' aria-current='page' href=`/member/${memberselect.code}/access`) Accesos
          li.nav-item
            a.nav-link(class=tab=='history'?'active fw-bold':'' aria-current='page' href=`/member/${memberselect.code}/church`) Hidtorial


      hr.d-block.d-sm-block.d-md-block.d-lg-none.mb-3

      block member
  include ../includes/script.pug
