#staticBackdrop.modal.fade(data-bs-backdrop='static' data-bs-keyboard='false' tabindex='-1' aria-labelledby='staticBackdropLabel' aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        h2#staticBackdropLabel.modal-title.fs-5 Login
        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
      .modal-body
        form#formlogin(action='login' method='post')
          .form-floating.mb-3
            input#password.form-control(name="password" type='password' placeholder='password' autocomplete='off')
            label(for='password') Contraseña
          button#ingresar.btn.btn-primary(type='submit') Ingresar
