extends ../layouts/layout.pug

block content
  .container.mt-2.mb-3
    .d-flex.align-items-start
      #v-pills-tab.nav.flex-column.nav-pills.me-3(role='tablist' aria-orientation='vertical')
        button#v-pills-home-tab.nav-link.text-white.active(data-bs-toggle='pill' data-bs-target='#v-pills-home' type='button' role='tab' aria-controls='v-pills-home' aria-selected='true') IEBS Viacha Central
        button#v-pills-profile-tab.nav-link.text-white(data-bs-toggle='pill' data-bs-target='#v-pills-profile' type='button' role='tab' aria-controls='v-pills-profile' aria-selected='false') El Alto
        button#v-pills-disabled-tab.nav-link.text-white(data-bs-toggle='pill' data-bs-target='#v-pills-disabled' type='button' role='tab' aria-controls='v-pills-disabled' aria-selected='false') Redentor
        button#v-pills-messages-tab.nav-link.text-white(data-bs-toggle='pill' data-bs-target='#v-pills-messages' type='button' role='tab' aria-controls='v-pills-messages' aria-selected='false') Villa Fatima
        button#v-pills-settings-tab.nav-link.text-white(data-bs-toggle='pill' data-bs-target='#v-pills-settings' type='button' role='tab' aria-controls='v-pills-settings' aria-selected='false') Los Andes
      #v-pills-tabContent.tab-content
        #v-pills-home.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='v-pills-home-tab' tabindex='0')
          .container.mt-2.mb-3
            .row.row-cols-1.row-cols-sm-1.row-cols-md-2.row-cols-lg-3.g-4
              .col
                .card
                  img.card-img-top(src=`/images/main/img (1).jpg` alt='...')
                  .card-footer
                    small.text-muted
                      .row.justify-content-between
                        .col.text-start
                          i.bi.bi-eye-fill(style='margin-right: 0.1rem')
                          | 11
                          i.bi.bi-hand-thumbs-up-fill(style='margin-left: 0.3rem')
                          | 12
                        .col.text-end
                          i.bi.bi-clock-fill(style='margin-right: 0.1rem')
                          |13
              .col
                .card
                  img.card-img-top(src=`/images/main/img (2).jpg` alt='...')
                  .card-footer
                    small.text-muted
                      .row.justify-content-between
                        .col.text-start
                          i.bi.bi-eye-fill(style='margin-right: 0.1rem')
                          | 11
                          i.bi.bi-hand-thumbs-up-fill(style='margin-left: 0.3rem')
                          | 12
                        .col.text-end
                          i.bi.bi-clock-fill(style='margin-right: 0.1rem')
                          |13
              .col
                .card
                  img.card-img-top(src=`/images/main/img (3).jpg` alt='...')
                  .card-footer
                    small.text-muted
                      .row.justify-content-between
                        .col.text-start
                          i.bi.bi-eye-fill(style='margin-right: 0.1rem')
                          | 11
                          i.bi.bi-hand-thumbs-up-fill(style='margin-left: 0.3rem')
                          | 12
                        .col.text-end
                          i.bi.bi-clock-fill(style='margin-right: 0.1rem')
                          |13
              .col
                .card
                  img.card-img-top(src=`/images/main/img (4).jpg` alt='...')
                  .card-footer
                    small.text-muted
                      .row.justify-content-between
                        .col.text-start
                          i.bi.bi-eye-fill(style='margin-right: 0.1rem')
                          | 11
                          i.bi.bi-hand-thumbs-up-fill(style='margin-left: 0.3rem')
                          | 12
                        .col.text-end
                          i.bi.bi-clock-fill(style='margin-right: 0.1rem')
                          |13
              .col
                .card
                  img.card-img-top(src=`/images/main/img (5).jpg` alt='...')
                  .card-footer
                    small.text-muted
                      .row.justify-content-between
                        .col.text-start
                          i.bi.bi-eye-fill(style='margin-right: 0.1rem')
                          | 11
                          i.bi.bi-hand-thumbs-up-fill(style='margin-left: 0.3rem')
                          | 12
                        .col.text-end
                          i.bi.bi-clock-fill(style='margin-right: 0.1rem')
                          |13
              .col
                .card
                  img.card-img-top(src=`/images/main/img (1).jpg` alt='...')
                  .card-footer
                    small.text-muted
                      .row.justify-content-between
                        .col.text-start
                          i.bi.bi-eye-fill(style='margin-right: 0.1rem')
                          | 11
                          i.bi.bi-hand-thumbs-up-fill(style='margin-left: 0.3rem')
                          | 12
                        .col.text-end
                          i.bi.bi-clock-fill(style='margin-right: 0.1rem')
                          |13
              .col
                .card
                  img.card-img-top(src=`/images/main/img (1).jpg` alt='...')
                  .card-footer
                    small.text-muted
                      .row.justify-content-between
                        .col.text-start
                          i.bi.bi-eye-fill(style='margin-right: 0.1rem')
                          | 11
                          i.bi.bi-hand-thumbs-up-fill(style='margin-left: 0.3rem')
                          | 12
                        .col.text-end
                          i.bi.bi-clock-fill(style='margin-right: 0.1rem')
                          |13
              .col
                .card
                  img.card-img-top(src=`/images/main/img (1).jpg` alt='...')
                  .card-footer
                    small.text-muted
                      .row.justify-content-between
                        .col.text-start
                          i.bi.bi-eye-fill(style='margin-right: 0.1rem')
                          | 11
                          i.bi.bi-hand-thumbs-up-fill(style='margin-left: 0.3rem')
                          | 12
                        .col.text-end
                          i.bi.bi-clock-fill(style='margin-right: 0.1rem')
                          |13
              .col
                .card
                  img.card-img-top(src=`/images/main/img (1).jpg` alt='...')
                  .card-footer
                    small.text-muted
                      .row.justify-content-between
                        .col.text-start
                          i.bi.bi-eye-fill(style='margin-right: 0.1rem')
                          | 11
                          i.bi.bi-hand-thumbs-up-fill(style='margin-left: 0.3rem')
                          | 12
                        .col.text-end
                          i.bi.bi-clock-fill(style='margin-right: 0.1rem')
                          |13
              .col
                .card
                  img.card-img-top(src=`/images/main/img (2).jpg` alt='...')
                  .card-body
                    h5.card-title Card title
                    p.card-text
                      | This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                  .card-footer
                    small.text-muted
                      i.bi.bi-eye-fill
                      | 12
              .col
                .card
                  img.card-img-top(src=`/images/main/img (3).jpg` alt='...')
                  .card-body
                    h5.card-title Card title
                    p.card-text
                      | This is a longer card with supporting text below as a natural lead-in to additional content.
                  .card-footer
                    small.text-muted Last updated 3 mins ago
              .col
                .card
                  img.card-img-top(src=`/images/main/img (4).jpg` alt='...')
                  .card-body
                    h5.card-title Card title
                    p.card-text
                      | This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                  .card-footer
                    small.text-muted Last updated 3 mins ago
              .col
                .card
                  img.card-img-top(src=`/images/main/img (5).jpg` alt='...')
                  .card-footer
                    small.text-muted Last updated 3 mins ago
              .col
                .card
                  img.card-img-top(src=`/images/main/img (6).jpg` alt='...')
                  .card-body
                    h5.card-title Card title
                    p.card-text
                      | This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                  .card-footer
                    small.text-muted Last updated 3 mins ago
              .col
                .card
                  img.card-img-top(src=`/images/main/img (7).jpg` alt='...')
                  .card-body
                    h5.card-title Card title
                    p.card-text
                      | This is a longer card with supporting text below as a natural lead-in to additional content.
                  .card-footer
                    small.text-muted Last updated 3 mins ago
              .col
                .card
                  img.card-img-top(src=`/images/main/img (8).jpg` alt='...')
                  .card-body
                    h5.card-title Card title
                    p.card-text
                      | This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                  .card-footer
                    small.text-muted Last updated 3 mins ago
        #v-pills-profile.tab-pane.fade(role='tabpanel' aria-labelledby='v-pills-profile-tab' tabindex='0') ...
        #v-pills-disabled.tab-pane.fade(role='tabpanel' aria-labelledby='v-pills-disabled-tab' tabindex='0') ...
        #v-pills-messages.tab-pane.fade(role='tabpanel' aria-labelledby='v-pills-messages-tab' tabindex='0') ...
        #v-pills-settings.tab-pane.fade(role='tabpanel' aria-labelledby='v-pills-settings-tab' tabindex='0') ...

  include ../includes/script.pug
  script(src='/app/activities/activities.js')
