extends ../layouts/layout.pug

block content
  if mainimage.length > 0
    .container.my-2.animate__animated.animate__fadeIn
      #carousel.carousel.slide.carousel-fade(data-bs-ride='carousel')
        .carousel-indicators
          each image, i in mainimage
            button(class=i===0?'active':'' type='button' data-bs-target='#carousel' data-bs-slide-to=`${i}` aria-label=`Slide ${i+1}`)

        .carousel-inner
          each image, i in mainimage
            .carousel-item(class=i===0?'active':'' data-bs-interval="3000")
              img.d-block.w-100(src=`images/main/${image.imagename}` alt=`${i+1}`)
              .carousel-caption.d-none.d-md-block
                h5 #{image.title}
                p #{image.description}

        button.carousel-control-prev(type='button' data-bs-target='#carousel' data-bs-slide='prev')
          span.carousel-control-prev-icon(aria-hidden='true')
          span.visually-hidden Previous
        button.carousel-control-next(type='button' data-bs-target='#carousel' data-bs-slide='next')
          span.carousel-control-next-icon(aria-hidden='true')
          span.visually-hidden Next

  .container.mb-2
    if maintitle
      h1.text-light.fw-bold.w-100.mb-2.animate__animated.animate__fadeIn #{maintitle.dataname}
    if maindescription && maindescription.dataname.length > 0
      p.text-light.w-100.mb-2 #{maindescription.dataname}

  .container.mb-2
    if mainactivitiestitle
      h2.text-light.fw-bold.w-100 #{mainactivitiestitle.dataname}
    if mainactivitiesdescription && mainactivitiesdescription.dataname.length > 0
      p.text-light.w-100 #{mainactivitiesdescription.dataname}

  .container.mb-2
    .col
      .card.text-bg-dark
        img.card-img(src='/images/main/iglesia.jpg' alt='...')
        .card-img-overlay
          h5.card-title Titulo de imagen
          p.card-text
            | This is a wider card with supporting text below as a Lorem, ipsum dolor sit amet consectetur adipisicing elit. Culpa error quis distinctio, cumque quas facilis impedit reiciendis? Laborum ducimus eos sunt perspiciatis labore totam ex beatae. Nulla, fugit officiis. Error. natural lead-in to additional content. This content is a little bit longer.
          p.card-text
            small
              a.text-white(href="")
                  i.bi.bi-download

  .container.mb-2
    .row.row-cols-1.row-cols-sm-2.row-cols-md-3.row-cols-lg-4.g-4
      .col
        .card.h-100
          img.card-img-top(src='/images/main/img (1).jpg' width="auto" height="auto" alt='Image')
          .card-body
            h5.card-title Card title
            p.card-text
              | This is a longer card with jfsdf sdfhds fks gksf skhf skhf sdhkf skdf sdfsdfsdkf asdhkf asdf askdfasd fkahsd fkasd
              | fkasdf kashdf  supporting text below as a natural lead-in to additional content. This content is a little bit longer.
          .card-footer
            small.text-muted Ultima actualización 3 min
              a(href='')
                i.bi.bi-download
      .col
        .card.h-100
          img.card-img-top(src='/images/main/img (2).jpg' width="auto" height="auto" alt='Image')
          .card-body
            h5.card-title Card title
            p.card-text
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio porro, ea cumque amet ipsa neque repudiandae numquam,
              | culpa quis expedita perferendis alias. Exercitationem numquam doloremque, vitae repudiandae labore ipsam rerum!
          .card-footer
            small.text-muted Ultima actualización 3 min
      .col
        .card.h-100
          img.card-img-top(src='/images/main/img (3).jpg' width="auto" height="auto" alt='Image')
          .card-body
            h5.card-title Card title
            p.card-text
              | This is a longer card with supporting text below as a natural lead-in to additional content.
              |
          .card-footer
            small.text-muted Ultima actualización 3 min
      .col
        .card.h-100
          img.card-img-top(src='/images/main/img (4).jpg' width="auto" height="auto" alt='Image')
          .card-body
            h5.card-title Card title
            p.card-text
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio porro, ea cumque amet ipsa neque repudiandae numquam,
              | culpa quis expedita perferendis alias. Exercitationem numquam doloremque, vitae repudiandae labore ipsam rerum!
          .card-footer
            small.text-muted Ultima actualización 3 min
      .col
        .card.h-100
          img.card-img-top(src='/images/main/img (5).jpg' width="auto" height="auto" alt='Image')
          .card-body
            h5.card-title Card title
            p.card-text
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio porro, ea cumque amet ipsa neque repudiandae numquam,
              | culpa quis expedita perferendis alias. Exercitationem numquam doloremque, vitae repudiandae labore ipsam rerum!
          .card-footer
            small.text-muted Ultima actualización 3 min
      .col
        .card.h-100
          img.card-img-top(src='/images/main/img (6).jpg' width="auto" height="auto" alt='Image')
          .card-body
            h5.card-title Card title
            p.card-text
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio porro, ea cumque amet ipsa neque repudiandae numquam,
              | culpa quis expedita perferendis alias. Exercitationem numquam doloremque, vitae repudiandae labore ipsam rerum!
          .card-footer
            small.text-muted Ultima actualización 3 min
      .col
        .card.h-100
          img.card-img-top(src='/images/main/img (7).jpg' width="auto" height="auto" alt='Image')
          .card-body
            h5.card-title Card title
            p.card-text
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio porro, ea cumque amet ipsa neque repudiandae numquam,
              | culpa quis expedita perferendis alias. Exercitationem numquam doloremque, vitae repudiandae labore ipsam rerum!
          .card-footer
            small.text-muted Ultima actualización 3 min
      .col
        .card.h-100
          img.card-img-top(src='/images/main/img (8).jpg' width="auto" height="auto" alt='Image')
          .card-body
            h5.card-title Card title
            p.card-text
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio porro, ea cumque amet ipsa neque repudiandae numquam,
              | culpa quis expedita perferendis alias. Exercitationem numquam doloremque, vitae repudiandae labore ipsam rerum!
          .card-footer
            small.text-muted Ultima actualización 3 min
      .col
        .card.h-100
          img.card-img-top(src='/images/main/img (9).jpg' width="auto" height="auto" alt='Image')
          .card-body
            h5.card-title Card title
            p.card-text
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure totam similique, deserunt quod nihil asperiores velit,
              | neque ullam modi laborum placeat optio ad labore voluptatibus inventore quos, officia autem cumque.
          .card-footer
            small.text-muted Ultima actualización 3 min
      .col
        .card.h-100
          img.card-img-top(src='/images/main/img (10).jpg' width="auto" height="auto" alt='Image')
          .card-body
            h5.card-title Card title
            p.card-text
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt temporibus nemo at reprehenderit animi possimus
              | accusantium velit repellendus, totam minus, harum tempore, sequi beatae eligendi ea voluptas impedit culpa saepe.
          .card-footer
            small.text-muted Ultima actualización 3 min
      .col
        .card.h-100
          img.card-img-top(src='/images/main/img (11).jpg' width="auto" height="auto" alt='Image')
          .card-body
            h5.card-title Card title
            p.card-text
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum libero, delectus cupiditate dolores suscipit a, error
              | animi sed harum exercitationem veritatis deserunt aperiam corporis ad impedit omnis in quia repudiandae!
          .card-footer
            small.text-muted Ultima actualización 3 min
      .col
        .card.h-100
          img.card-img-top(src='/images/main/img (12).jpg' width="auto" height="auto" alt='Image')
          .card-body
            h5.card-title Card title
            p.card-text
              | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis ex labore provident hic, voluptatum unde,
              | exercitationem totam quibusdam excepturi atque id non est similique veritatis ab tempore in cum iste?
          .card-footer
            small.text-muted Ultima actualización 3 min

  .container.mb-2
    h2.text-light.fw-bold.w-100 Anuncios
    p.text-light.w-100 Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque sit, fugit labore quidem consectetur similique in, numquam quas atque soluta placeat minima tempore inventore aliquam excepturi eaque quis repellendus! Praesentium?

  .container.mb-2
    .card.text-bg-dark
      img.card-img(src='/images/main/iglesia.jpg' alt='...')
      .card-img-overlay
        h5.card-title Card title
        p.card-text
          | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
        p.card-text
          small Ultima actualización 3 min

  .toast-container.position-fixed.bottom-0.end-0.p-3
    #liveToast.toast.align-items-center.text-bg-primary(role='alert' aria-live='assertive' aria-atomic='true' data-bs-delay="10000")
      .d-flex
        .toast-body
          | Hello, world! This is a toast message.
        button.btn-close.btn-close-white.me-2.m-auto(type='button' data-bs-dismiss='toast' aria-label='Close')

  include ../includes/script.pug
