extends ../layouts/layout.pug

block content
  .container
    h1.text-white Iglesias

    .table-responsive-church
      button.btn.btn-white.text-dark.fw-bold(type='button' data-bs-toggle='modal' data-bs-target='#churchesModal')
        i.bi.bi-house-add(style='font-size: 1rem;' data-bs-toggle='tooltip' data-bs-placement='top' data-bs-title='Crear Nueva Iglesia') #{' '}
        | Iglesia

      if churches.length > 0
        .table-responsive
          table#table.cell-border.compact.hover.order-column
            thead
              tr
                th(scope='col') #
                th(scope='col') Iglesia
                th(scope='col') Distrito
                th(scope='col') Departamento
                th(scope='col') Pais
                th(scope='col')
            tbody.table-group-divider
              each church, i in churches
                tr
                  td.align-top.text-capitalize #{i+1}
                  td.align-top.text-capitalize #{church.church}
                  td.align-top.text-capitalize #{church.district.district}
                  td.align-top.text-capitalize Dep
                  td.align-top.text-capitalize pais
                  td.align-top.text-end
                    a(href=`` data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Ver Iglesia")
                      i.bi.bi-house-fill
                    a(href='#' data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Editar iglesia")
                      i.bi.bi-pencil-fill
                    a(href='#' data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Eliminar iglesia")
                      i.bi.bi-trash3-fill

  include churchescreate.pug
  include ../includes/script.pug
  script(src='/lib/datatables/datatables.min.js')
  script(src='/app/churches/churches.js')









