#churchesModal.modal.fade(tabindex='-1' aria-labelledby='churchesModalLabel' aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        h1#churchesModalLabel.modal-title.fs-5 Crear Iglesia
        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
      .modal-body
        form#formchurch.row.g-3(action='/churches' method='post')
          .col-12
            input#church.form-control(type='text' name='church' placeholder='Iglesia' required autocomplete='off')
          .col-12
            select#district.form-select(name='district' aria-label='' required)
              option(value='' selected) Selecciona un Distrito
              each dis, i in districts
                option(value=`${dis._id}`) #{dis.district[0].toUpperCase()}#{dis.district.substring(1)}
          .col-12
            button#submit.btn.btn-primary(type='submit') Guardar
