extends ../layouts/layout.pug

block content
  .container
    h1#nosotros.text-white Información
    p.text-white Nombre: #{information.name}
    p.text-white Version: #{information.version}
    p.text-white Fecha: #{information.date}
    p.text-white Compilación: #{information.compile}
    p.text-white Licencia: #{information.license}
    p.text-white Organización: #{information.organization}
    p.text-white Motor: #{information.engine}

  include ../includes/script.pug
