extends maincontrolbutton.pug
block maincontrol
  .container
    h1#nosotros.text-white Control FONAMIN
    .container-white
      h2  Ingresos

      button#controlincomecreate.btn.btn-white.text-dark.fw-bold(type='button' data-bs-toggle='modal' data-bs-target='#controlincomecreateModal')
        i.bi.bi-plus-lg() #{' '}
        | Ingreso

      if incomes.length > 0
        .table-responsive
          table.table.table-hover.table-bordered.table-sm
            thead
              tr
                th.text-center(scope='col') #
                th.text-start(scope='col') Ingreso Nombre
                th(scope='col')
            tbody
              each income, i in incomes
                tr
                  td.text-center(style={color: income.state==='active'?'rgba(0,0,0,1)':'rgba(0,0,0,.5)'}) #{i+1}
                  td.text-start(style={color: income.state==='active'?'rgba(0,0,0,1)':'rgba(0,0,0,.5)'}) #{income.incomename}
                  td.text-end
                    if income.state==='active'
                      a.text-primary(href=`/control/fonamin/income/states/${income._id}`)
                        i.bi.bi-toggle2-on
                    else
                      a.text-primary(href=`/control/fonamin/income/states/${income._id}`)
                        i.bi.bi-toggle2-off
                    | #{' '}
                    a.text-primary(type='button' data-bs-toggle='modal' data-bs-target=`#controlincomeupdateModal${i+1}`)
                      i.bi.bi-pencil-fill
                    | #{' '}
                    a.text-primary(href=`/control/fonamin/income/delete/${income._id}`)
                      i.bi.bi-trash3-fill
                    include controlfonaminincomeupdate.pug
      hr
      h2  Egresos
      button#controlexpensecreate.btn.btn-white.text-dark.fw-bold(type='button' data-bs-toggle='modal' data-bs-target='#controlexpensecreateModal')
        i.bi.bi-plus-lg() #{' '}
        | Egreso
      if expenses.length > 0
        .table-responsive
          table.table.table-hover.table-bordered.table-sm
            thead
              tr
                th.text-center(scope='col') #
                th.text-start(scope='col') Egreso Nombre
                th(scope='col')
            tbody
              each expense, i in expenses
                tr
                  td.text-center(style={color: expense.state==='active'?'rgba(0,0,0,1)':'rgba(0,0,0,.5)'}) #{i+1}
                  td.text-start(style={color: expense.state==='active'?'rgba(0,0,0,1)':'rgba(0,0,0,.5)'}) #{expense.expensename}
                  td.text-end
                    if expense.state==='active'
                      a.text-primary(href=`/control/fonamin/expense/states/${expense._id}`)
                        i.bi.bi-toggle2-on
                    else
                      a.text-primary(href=`/control/fonamin/expense/states/${expense._id}`)
                        i.bi.bi-toggle2-off
                    | #{' '}
                    a.text-primary(type='button' data-bs-toggle='modal' data-bs-target=`#controlexpenseupdateModal${i+1}`)
                      i.bi.bi-pencil-fill
                    | #{' '}
                    a.text-primary(href=`/control/fonamin/expense/delete/${expense._id}`)
                      i.bi.bi-trash3-fill
                  include controlfonaminexpenseupdate.pug

  include controlfonaminincomecreate.pug
  include controlfonaminexpensecreate.pug
