extends maincontrolbutton.pug
block maincontrol
  .container
    h1#nosotros.text-white Inicio
    .table-responsive-member
      button#memberscreate.btn.btn-white.text-dark.fw-bold(type='button' data-bs-toggle='modal' data-bs-target='#mainControlCreateModal')
        i.bi.bi-plus #{' '}
        | Imagen

      if mainimage.length > 0
        .table-responsive
          table.table.table-hover.table-bordered.table-sm
            thead
              tr
                th(scope='col') #
                th(scope='col') Imagen
                th(scope='col') Titulo
                th(scope='col') Descripción
                th(scope='col')
            tbody
              each image, i in mainimage
                tr
                  td.text-center #{i+1}
                  td.align-top
                    img.img-thumbnail(src=`/images/main/${image.imagename}` width=30 alt=`${image.image}`)
                  td.align-top #{image.title}
                  td.align-top #{image.description}
                  td.text-center
                    a(href=`/control/main/delete/${image._id}`)
                      i.bi.bi-trash3-fill
      hr
      form.row(action='/control/main/update', method='post' autocomplete='off')
        .col-12
          .form-floating
            input#maintitle.form-control.mb-3(name='maintitle' type='text' value=maintitle?`${maintitle.dataname}`:'' placeholder='Titulo Principal')
            label(for='maintitle') Titulo
        .col-12
          .form-floating
            textarea#maindescription.form-control.mb-3(name='maindescription' placeholder='Leave a comment here' style='height: 100px')
              |#{maindescription?`${maindescription.dataname}`:''}
            label(for='maindescription') Descripcion
        .col-12
          button.btn.btn-primary(type='submit') Guardar
      hr
      form.row(action='/control/mainactivities/update', method='post' autocomplete='off')
        .col-12
          .form-floating
            input#mainactivitiestitle.form-control.mb-3(name='mainactivitiestitle' type='text' value=mainactivitiestitle?`${mainactivitiestitle.dataname}`:'' placeholder='Titulo Principal Actividades')
            label(for='mainactivitiestitle') Titulo Actividades
        .col-12
          .form-floating
            textarea#mainactivitiesdescription.form-control.mb-3(name='mainactivitiesdescription' placeholder='Leave a comment here' style='height: 100px')
              |#{mainactivitiesdescription?`${mainactivitiesdescription.dataname}`:''}
            label(for='mainactivitiesdescription') Descripcion Actividades
        .col-12
          button.btn.btn-primary(type='submit') Guardar


      hr
  include controlmaincreate.pug
