#mainControlCreateModal.modal.fade(tabindex='-1' aria-labelledby='mainControlCreateModalLabel' aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        h1#mainControlCreateModalLabel.modal-title.fs-5 Imagen
        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
      .modal-body
        form.row(action='/control/main', method='post' enctype='multipart/form-data' autocomplete='off')
          .col-12
            input.form-control.mb-3(name='title' type='text' placeholder='Titulo' required)
          .col-12
            input.form-control.mb-3(name='description' type='text' placeholder='Descripcion' required)
          .col-12
            input.form-control.mb-3(name='image' type='file' accept='.png, .jpg, .jpeg' required)
          .col-12
            button.btn.btn-primary(type='submit') Guardar
