.modal.fade(id=`controlexpenseupdateModal${i+1}` tabindex='-1' aria-labelledby=`controlexpenseupdateModalLabel${i+1}` aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        h1.modal-title.fs-5(id=`controlexpenseupdateModalLabel${i+1}`) Actualizar Egreso - #{i+1}
        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
      .modal-body
        form(action=`/control/fonamin/expense/update/${expense._id}` method='post')
          .row
            .col-12.col-sm-12.col-md-9.mb-3
              input.form-control(type='text' name='expense' value=`${expense.expensename}`)
            .col-4.col-sm-3.col-md-3
              input.form-control.btn.btn-primary(type='submit' value='Guardar')
