extends maincontrolbutton.pug
block maincontrol
  .container
    h1#nosotros.text-white Control Nosotros
    .table-responsive-member
      h2  Inicio

      button.btn.btn-primary(type='button' data-bs-toggle='modal' data-bs-target='#mainControlCreateModal') Imagen

      .table-responsive
        table.table.table-hover.table-bordered.table-sm
          thead
            tr
              th(scope='col') #
              th(scope='col') Imagen
              th(scope='col')
          tbody
            tr
              td.text-center
              td.align-top
              td.text-center

      p descripcion
      p Imagenes
      p Nosotros
      p Contato
      hr
      h2
  include controlmaincreate.pug
