#controlexpensecreateModal.modal.fade(tabindex='-1' aria-labelledby='controlexpensecreateModalLabel' aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        h1#controlexpensecreateModalLabel.modal-title.fs-5 Egreso
        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
      .modal-body
        form(action="/control/fonamin/expense/create" method="post")
          .row
            .col-12.col-sm-12.col-md-9.mb-3
              input.form-control(type='text' name='expense')
            .col-4.col-sm-3.col-md-3
              input.form-control.btn.btn-primary(type='submit' value='Guardar')
