extends ../layouts/layout.pug

block content
  .container.mt-2
    a.btn.btn-primary.btn-sm.me-2.mb-2(class=['controlmain'].includes(active)?'fw-bold':'' href='/control/main' role='button') Inicio
    a.btn.btn-primary.btn-sm.me-2.mb-2(class=['controlactivities'].includes(active)?'fw-bold':'' href='/control/activities' role='button') Actividades
    a.btn.btn-primary.btn-sm.me-2.mb-2(class=['controlnosotros'].includes(active)?'fw-bold':'' href='/control/nosotros' role='button') Nosotros
    a.btn.btn-primary.btn-sm.me-2.mb-2(class=['controlcontact'].includes(active)?'fw-bold':'' href='/control/contact' role='button') Contacto
    a.btn.btn-primary.btn-sm.me-2.mb-2(class=['controlfonamin'].includes(active)?'fw-bold':'' href='/control/fonamin' role='button') FONAMIN
  block maincontrol
  include ../includes/script.pug
