#incomememberdataModal.modal.fade(tabindex='-1' aria-labelledby='incomememberdataModalLabel' aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        h1#incomememberdataModalLabel.modal-title.fs-5 Monto
        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
      .modal-body
        form(action=`/fonamin/income/${incomeselected.incomecode}/${memberselected.code}` method='post' autocomplete='off')
          .mb-3
            label.form-label(for='amount') Cantidad
            input#amount.form-control(type='number' name='amount' min='0' max='1000000000' step='0.01' placeholder='0.00' required)
          .col-auto
            button.btn.btn-primary.mb-3(type='submit') Ingresar
