extends ../layouts/layout.pug

block content
  .container
    h1#nosotros.text-white Ingresos

    .container-white
      nav(aria-label='breadcrumb')
        ol.breadcrumb
          li.breadcrumb-item.active Ingresos

      hr

      if incomes.length > 0
        .table-responsive
          table.table.table-hover.table-bordered.table-sm
            thead
              tr
                th.text-center.align-middle(scope='col') #
                th.text-start.align-middle(scope='col') Ingresos
                th.text-end.align-middle(scope='col')
            tbody
              each income, i in incomes
                tr
                  td.text-center.align-middle #{i+1}
                  td.text-start.align-middle #{income.incomename}
                  td.text-end.align-middle
                    a(href=`/fonamin/income/${income.incomecode}`)
                      i.bi.bi-eye-fill

  include ../includes/script.pug
