form.row.g-3.mb-2(action=`/fonamin/income/${income.incomecode}` method='post' autocomplete='off')
  .col-10.col-sm-10.col-md-6.col-lg-4
    input#member.form-control(name='member' type='text' required)
    ul#memberlist.list-group
  input#membercode(type="hidden" name="membercode")
  .col-2.col-sm-2.col-md-2.col-lg-2
    button.btn.btn-white.text-dark.fw-bold(type='submit')
      i.bi.bi-person-plus-fill
