.modal.fade(id=`incomememberdataupdateModal${i+1}` tabindex='-1' aria-labelledby=`incomememberdataupdateModalLabel${i+1}` aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        h1.modal-title.fs-5(id=`incomememberdataupdateModalLabel${i+1}`) Monto - #{i+1}
        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
      .modal-body
        form(action=`/fonamin/income/${incomeselected.incomecode}/${memberselected.code}/${data.memberincomedatacode}` method='post' autocomplete='off')
          .mb-3
            label.form-label(for=`amount${i+1}`) Cantidad
            input.form-control(id=`amount${i+1}` type='number' name='amount' value=`${data.amount}` min='0' max='1000000000' step='0.01' placeholder='0.00' required)
          .col-auto
            button.btn.btn-primary.mb-3(type='submit') Ingresar
