extends ../layouts/layout.pug

block content
  .container
    h1#nosotros.text-white #{income.incomename}
    .container-white
      nav(aria-label='breadcrumb')
        ol.breadcrumb
          li.breadcrumb-item
            a(href='/fonamin/income') Ingresos
          li.breadcrumb-item.active #{income.incomename}

      hr

      include incomemembercreate.pug

      if memberincome.length > 0
        .table-responsive
          table.table.table-hover.table-bordered.table-sm
            thead
              tr
                th.text-center.align-middle(scope='col') #
                th.text-start.align-middle(scope='col') Nombres
                th.text-end.align-middle(scope='col')
            tbody
              each member, i in memberincome
                tr
                  td.text-center.align-middle #{i+1}
                  td.text-start.align-middle #{member.member.names} #{member.member.firstlastname} #{member.member.secondlastname}
                  td.text-end.align-middle
                    a(href=`/fonamin/income/${income.incomecode}/${member.member.code}`)
                      i.bi.bi-eye-fill
                    | #{' '}
                    a(href=`/fonamin/income/`)
                      i.bi.bi-person-fill
                    | #{' '}
                    a(href=`/fonamin/income/`)
                      i.bi.bi-trash3-fill

  input#members(type='hidden' value=`${members}`)
  include ../includes/script.pug
  //- script(src='/lib/autocomplete/autoComplete.min.js')
  script(src='/app/fonamin/incomename.js')



