extends ../layouts/layout.pug

block content
  .container
    h1#nosotros.text-white #{memberselected.names} #{memberselected.firstlastname} #{memberselected.secondlastname}
    .container-white
      //- memberselected,
      //- incomeselected
      nav(aria-label='breadcrumb')
        ol.breadcrumb
          li.breadcrumb-item
            a(href='/fonamin/income/') Ingresos
          li.breadcrumb-item
            a(href=`/fonamin/income/${incomeselected.incomecode}`) #{incomeselected.incomename}
          li.breadcrumb-item.active(aria-current='page') #{memberselected.names} #{memberselected.firstlastname} #{memberselected.secondlastname}

      hr

      button.btn.btn-white.text-dark(type='button' data-bs-toggle='modal' data-bs-target='#incomememberdataModal')
        i.bi.bi-plus #{' | '}
        | Monto

      include incomememberdatacreate.pug

      if memberincomedata.length > 0
        .table-responsive
          table.table.table-hover.table-bordered.table-sm
            thead
              tr
                th.text-center.align-middle(scope='col') #
                th.text-start.align-middle(scope='col') Cantidad
                th.text-start.align-middle(scope='col') Fecha
                th.text-start.align-middle(scope='col')
            tbody
              each data, i in memberincomedata
                tr
                  td.text-center.align-middle #{i+1}
                  td.text-start.align-middle #{data.amount}
                  td.text-start.align-middle #{data.creationdate.split(' ')[0]}
                  th.text-end.align-middle
                    a.text-primary(href='' data-bs-toggle='modal' data-bs-target=`#incomememberdataupdateModal${i+1}`)
                      i.bi.bi-pencil-fill
                    | #{' '}
                    a.text-primary(href=`/fonamin/income/${incomeselected.incomecode}/${memberselected.code}/${data.memberincomedatacode}`)
                      i.bi.bi-trash3-fill
                  include incomememberdataupdate.pug
            tfoot
              tr
                td.text-center.align-middle.fw-bold Total
                td.text-start.align-middle.fw-bold(colspan='3') #{total}

  include ../includes/script.pug
  script(src='/app/fonamin/incomememberdata.js')


