extends ../layouts/layout.pug

block content
  .container
    h1.text-white.mb-2 Distrito

    include ../includes/menuddc.pug

    .district-content-bottom
      .table-responsive-district
        button#memberscreate.btn.btn-white.text-dark.fw-bold(type='button' data-bs-toggle='modal' data-bs-target='#districtModal')
          i.bi.bi-plus-lg(style='font-size: 1rem;' data-bs-toggle='tooltip' data-bs-placement='top' data-bs-title='Crear Nuevo Distrito')
          | Distrito

        .table-responsive
          table#table1.cell-border.compact.hover.order-column
            thead
              tr
                th(scope='col') #
                th(scope='col') Distrito
                th(scope='col') Departamento
                th(scope='col') Pais
                th(scope='col')
                th(scope='col')
            tbody.table-group-divider
              each member, i in districts
                tr
                  td.align-top #{i+1}
                  td.align-top.text-capitalize #{member.district}
                  td.align-top.text-capitalize #{member.department.department}
                  td.align-top.text-capitalize
                  td.text-center
                    a(href='#' data-bs-toggle='tooltip' data-bs-placement='top' data-bs-title=`Ver Distrito  - ${member.district}`)
                      i.bi.bi-chevron-right.text-primary(style="font-size: 1rem;")
                  td.align-top.text-end
                    a(href='#' data-bs-toggle='tooltip' data-bs-placement='top' data-bs-title='Editar Distrito')
                      i.bi.bi-pencil-fill
                    a(href='#' data-bs-toggle='tooltip' data-bs-placement='top' data-bs-title='Eliminar Distrito')
                      i.bi.bi-trash3-fill

  include districtcreate.pug
  include ../includes/script.pug
  script(src='/lib/datatables/datatables.min.js')
  script(src='/app/district/district.js')
