#districtModal.modal.fade(tabindex='-1' aria-labelledby='districtModalLabel' aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        h1#districtModalLabel.modal-title.fs-5 Crear Distrito
        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
      .modal-body
        form#formdistrict.row.g-3(action='district' method='post')
          .col-12
            input#district.form-control(type='text' name='district' placeholder='Distrito' required autocomplete='off')
          .col-12
            select#department.text-capitalize.form-select(name='department' aria-label='' required)
              option(value='' selected) Selecciona un Departamento
              each department, i in departments
                option.text-capitalize(value=`${department._id}`) #{department.department} - #{department.abbreviation}
          .col-12
            button#submit.btn.btn-primary(type='submit') Guardar
